<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="二手车，重庆二手车，买车，车都汇，卖车">
<meta name="Description" content="重庆车都汇二手车，帮你解决买二手车">
  <title>${title}</title>
  <link rel="stylesheet" href="assets/css/amazeui.css" />
  <link rel="stylesheet" href="assets/css/common.min.css" />
 
  #tag layout_block_default("css")
   no css files
  #end
</head>
<body>
  <div class="layout">
    #include("./menu.html")
    </div>
